<h1>Ask your code anything</h1>

<form action="/answer">
  <input class="form-group mx-sm-3 mb-2" type="text" name="question" placeholder="Enter your question">
  <input class="btn btn-primary mb-2" type="submit" value="Ask">
</form>


<%= link_to "Home", root_path, class:"btn btn-primary mb-2" %>
